@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreFranklin';
    font-weight: 400;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/LibreFranklin-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'LibreFranklin';
    font-weight: 700;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/LibreFranklin-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'LibreFranklin';
    font-weight: 800;
    /*noinspection CssUnknownTarget*/
    src: url('/fonts/LibreFranklin-ExtraBold.ttf') format('truetype');
}

@layer components {
  .input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm hover:shadow-lg focus:border-logo focus:shadow-none focus:ring-logo sm:text-sm;
  }
  .input-error {
    @apply mt-1 block w-full rounded-md border-red-600 shadow-sm focus:border-red-600 focus:ring-red-600 sm:text-sm;
  }
}
.lds-ring2 {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
}
.lds-ring2 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 4px solid;
  border-color: #e22a2a transparent transparent transparent;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid;
  border-color: #009b71 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.min-h-content {
  min-height: 62.8vh;
}

/* Login Page */
.login-form {
    width: 380px;
    height: 627px;
    padding: 75px 35px calc(102px + 20px) 35px;
    z-index: 2;
    background-color: aliceblue;
    box-shadow: #000000a6 10px 10px 30px;
}

.login-form .header {
    background-size: 380px 65px !important;
    /*noinspection CssUnknownTarget*/
    background: url("/movil-diagrama-header.png") no-repeat;
    position: absolute;
    width: 380px;
    height: 65px;
    margin-top: -75px;
    margin-left: -35px;
}

.login-form .footer {
    width: 380px;
    height: 102px;
    margin-left: -35px;
    margin-top: 20px;

    background-size: 380px 66px;
    /*noinspection CssUnknownTarget*/
    background: url("/movil-diagrama-footer.png") no-repeat;
    position: absolute;
}

.login-form .left-column, .login-form .right-column {
    margin-top: -10px;
    width: 17px;
    height: 496px;

    background-size: 100% 100% !important;
    position: absolute;
}

.login-form .left-column {
    margin-left: -35px;

    /*noinspection CssUnknownTarget*/
    background: url("/movil-diagrama-col-izq.png") repeat-y;
}

.login-form .right-column {
    margin-left: 328px;

    /*noinspection CssUnknownTarget*/
    background: url("/movil-diagrama-col-der.png") repeat-y;
}

.login-form img.logo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.login-form .motto-line {
    color: #707070;
    font-size: 18pt;
    font-weight: bold;
    font-family: LibreFranklin, sans-serif;
    text-align: center;
    margin-top: 10px;
}

.login-right-panel {
    z-index: 1;
    margin-bottom: 42%;
}

.login-right-panel img {
    width: 100%;
    margin-left: -50%;
    position: fixed;
}

.login-right-panel-md {
    z-index: 1;
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: 0;
    margin-top: 54vh;
}

.login-right-panel-md img { }

.login-logo-box-md {
    z-index: 1;
    width: 100vw;
    min-width: 380px;
    position: fixed;
    top: calc(95vh - 60px);
}

.login-logo-box-md img {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

@media (max-width: 640px) {
    .login-logo-box-md img {
        width: 90vw;
    }
}

@media (max-width: 380px) {
    .login-logo-box-md img {
        width: 100%;
    }
}

.bottom-space-reserved {
    height: 56px;
}

.login-background img.nube-1, .login-background img.nube-2, .login-background img.nube-3,
.login-background img.nube-4, .login-background img.nube-5, .login-background .linea-horizonte {
    position: fixed;
}

.login-background img.nube-1 {
    left: 510px;
    top: 100px;
    width: 200px;
}

.login-background img.nube-2 {
    left: 300px;
    top: 35px;
    width: 100px;
}

.login-background img.nube-3 {
    left: 900px;
    top: 50px;
    width: 150px;
}

.login-background img.nube-4 {
    left: 80px;
    top: 200px;
    width: 100px;
}

.login-background img.nube-5 {
    left: 1140px;
    top: 230px;
    width: 80px;
}

/* Content Pages */
.logo-header-img {
    max-width: 100%;
    height: 43px;
    margin-left: -50px;
    margin-right: 50px;
}

.logo-header-bkg {
  position: absolute;
  width: 190px;
  height: 50px;
  z-index: -1;
  background-color: white;
  left: -100px;
  border-radius: 15px;
}

.header-text {
    font-size: 20pt;
    font-family: LibreFranklin, sans-serif;
    font-weight: bold;
    color: #3f3f3f;
    /*text-transform: capitalize;*/
    letter-spacing: 0.025em;
}

.sub-header-text {
    font-size: 19pt;
    font-family: LibreFranklin, sans-serif;
    /*font-weight: bold;*/
    color: #3f3f3f;
    letter-spacing: 0.025em;
    /*text-transform: capitalize;*/
}

.card-title {
    font-weight: bold;
    font-size: 12pt;
    color: #656565;
    text-transform: capitalize;
}

.card-data {
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.card-icon {
    max-width: none;
    max-height: none;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-link {
    cursor: pointer;
    /*font-weight: bold;*/
}

.profile-card-item { }
.profile-card-item img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
}
.profile-card-item div {
    font-size: 14pt;
    text-align: center;
}
.profile-card-item span {
    font-weight: bold;
}


.bg-qr {
  background-image: url('/qr.png');
  background-size: auto 90%;
  background-position: center bottom;
  height: 100vh;
  width: 90vw;
  background-repeat: no-repeat;
}

.bg-cel {
  background-image: url('/cel.png');
  background-size: auto 100%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
}